.footer {
  background: linear-gradient(#FFB800, white);
}

.footer__container {
  max-width: 1200px;
  padding: 100px 40px 100px 40px;
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
}

.footer__contact-cards {
  display: grid;
  grid-template-columns: auto;
  gap: 30px;
}

.footer__contact-card {
  display: grid;
  grid-template-columns: 10% auto;
  text-align: start;
  background-color: rgb(246, 253, 250);
  gap: 20px;
  background-color: transparent;
}

.footer__contact-card-icon-container {
  width: 30px;
  display: grid;
  align-items: center;
}

.footer__contact-card-text-container {
  display: grid;
  grid-template-rows: auto;
  gap: 10px;
}

.footer__contact-card-title {
  color: #0C122D;
  font-size: 20px;
}

.footer__contact-card-text {
  color: #0C122D;
  font-size: 16px;
  line-height: 1.5rem;
  text-decoration: none;
}

.footer__contact-card-text-container a {
  transition: 0.2s;
}

.footer__contact-card-text-container a:hover {
  font-size: 17px;
  font-weight: 500;
  color: #1B5FC1;
}

@media screen and (min-width: 480px) {
  .footer__contact-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

.footer__menu-cards {
  display: grid;
  grid-template-columns: auto;
  gap: 30px;
}

.footer__menu-description {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.footer__menu-description-logo {
  max-width: 162px;
}

.footer__menu-description-text {
  color: #575C74;
}

.footer__menu-company-container {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.footer__menu-company-title {
  color: #0C122D;
  font-size: 20px;
}

.footer__menu-company-nav-links {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.footer__navigation-link {
  color: #575C74;
  font-size: 16px;
  text-decoration: none;
  transition: 0.2s;
}

.footer__navigation-link:hover {
  font-size: 17px;
  font-weight: 500;
  color: #0C122D;
}

@media screen and (min-width: 480px) {
  .footer__menu-company-title,
  .footer__navigation-link {
    display: grid;
    justify-content: center;
  }
}

.footer__menu-socials {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.footer__menu-socials-title {
  color: #0C122D;
  font-size: 20px;
}

.footer__menu-socials-links {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.footer__menu-socials-link {
  color: #575C74;
  font-size: 16px;
  text-decoration: none;
  transition: 0.2s;
}

.footer__menu-socials-link:hover {
  font-size: 17px;
  font-weight: 500;
  color: #0C122D;
}

@media screen and (min-width: 480px) {
  .footer__menu-socials-title,
  .footer__menu-socials-links {
    display: grid;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__menu-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .footer__menu-company-title,
  .footer__menu-socials-title {
    height: 40px;
  }
}

@media screen and (min-width: 992px) {
  .footer__contact-card {
    padding-left: 30px;
  }
}

.footer__copyright {
  margin: auto;
}

.footer__copyright-text {
  color: #575C74;
}

.footer__container {
  margin: auto;
}/*# sourceMappingURL=footer.css.map */