@import "variables";

.header__banner {
    background-color: $background-header-color;
}

.header__banner-container {
    padding: 30px;
    max-width: 1100px;
    margin: auto;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-logo {
    position: relative;
    z-index: 1;
}

.navigation-logo img {
    width: 162px;
}

.navigation-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//mixins
@mixin burger($size) {
    $query: map-get($breakpoints, $size);

    @media screen and (max-width: $query) { //max-width
        @content;
    }
}

@mixin menu($size) {
    $query: map-get($breakpoints, $size);

    @media screen and (min-width: $query) { //min-width (!)
        @content;
    }
}

@mixin with-content($content) {
    @content;
}

.navigation-wrapper {
    @include burger('large') {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: $background-burger-color;
        transition: top 0.5s ease-in;
        padding: 15px 24px 50px 24px;
        overflow: hidden;
        margin: auto;
    }
}

.navigation-wrapper.active {
    @include burger('large') {
        top: 0;
    }
}
.navigation-links {
    @include burger('large') {
        display: grid;
        grid-template-rows: 50px 50px 50px 50px 50px 50px;
        justify-items: center;
    }
}

.navigation-link {
    @include burger('large') {
        text-decoration: none;
        color: $text-main-color;
        font-size: 17px;
        line-height: 3ch;
        transition: 0.2s;
    }
}

.navigation-link:hover {
    @include burger('large') {
        color: $text-title-color;
        font-size: 18px;
        font-weight: 500;
    }
}

.navigation-burger {
    position: relative;
    width: 30px;
    height: 20px;
    padding: 12px;
    cursor: pointer;
    z-index: 1;
}

.navigation-burger span,
.navigation-burger::before,
.navigation-burger::after {
    @include burger('large') {
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $text-title-color;
        transition: all 0.5s ease-in-out;
        z-index: 2;
    }  
}

.navigation-burger::before,
.navigation-burger::after {
    @include burger('large') {
        content: " ";
    }
}

.navigation-burger::before {
    @include burger('large') {
        top: 0;
    }
}

.navigation-burger::after {
    @include burger('large') {
        bottom: 0;
    }
}

.navigation-burger.active::before {
    @include burger('large') {
        top: 50%;
        transform: rotate(-45deg);
    }
}

.navigation-burger.active span {
    @include burger('large') {
        transform: scale(0);
    }
}

.navigation-burger.active::after {
    @include burger('large') {
        bottom: 40%;
        transform: rotate(45deg);
    }
}


.navigation-wrapper,
.navigation-links {
    @include menu('large') {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.navigation {
    @include menu('large') {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
}

.navigation-burger {
    @include menu('large') {
        position: absolute;
    }
}

.navigation-links {
    @include menu('large') {
        gap: 25px;
    }
}

.navigation-wrapper {
    @include menu('large') {
        gap: 50px;
    }
}

.navigation-link {
    @include menu('large') {
        text-decoration: none;
        color: $text-title-color;
        font-size: 17px;
        line-height: 3ch;
        transition: 0.2s;
    }
}

.navigation-link:hover {
    @include menu('large') {
        color: $text-main-color;
        font-size: 18px;
        font-weight: 500;
    }
}

.navigation-contact-button {
    background-color: $button-dark-color;
    color: white;
    font-size: 17px;
    border-radius: 10px;
    border-color: $button-dark-color;
    border-width: 1px;
    border-style: solid;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    transition: 1s;
}

.navigation-contact-button:hover {
    background-color: $button-hover-color;
    color: $button-dark-color
}